.App {
  text-align: center;
}

.card-canvas {
  display: inline-block;
}

.controls {
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
